"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](#9A348E)\
$directory\
[](fg:#9A348E bg:#DA627D)\
$git_branch\
$git_status\
[](fg:#DA627D bg:#FCA17D)\
$git_metrics\
[](fg:#FCA17D bg:#86BBD8)\
$cmd_duration\
[ ](fg:#86BBD8)\
$line_break\
$character\
"""

# Disable the blank line at the start of the prompt
add_newline = true

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
style = "bg:#9A348E"
disabled = true # Disabled by default

[directory]
style = "bg:#9A348E"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "

[git_branch]
symbol = "  "
style = "bg:#DA627D"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "bg:#DA627D"
format = '[$all_status$ahead_behind ]($style)'


[git_metrics]
disabled = false
added_style = "bg:#FCA17D"
deleted_style = "bg:#FCA17D"
format = '[ +$added/-$deleted ]($added_style)'

[cmd_duration]
style = "bg:#86BBD8"
format = '[ $duration ]($style)'

[character]
success_symbol = "[λ](bold green)"
error_symbol = "[λ](bold red)"
