name: Dependabot Auto Merge

on:
  pull_request:

jobs:
  auto-merge:
    uses: gawakawa/.github/.github/workflows/dependabot-auto-merge.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
